.cart { 
  background-color: #ffe1b3;
  color: #1C2B35;
  text-align: center;
  position: sticky;
  top: 0;
  padding: 10px 0;
}
.cart p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #2a414f;
}
.cart h6{
    font-weight: 400;
font-size: 21px;
}