.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.product-cont{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 45px;
}
.cart-cont{
    background-color: orange;
    color: black;
    text-align: center;
}